body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header a{
    color: white;
}
header{
    position: fixed;
    width: 100%;
}
header h1{
    text-align: center;
    background-color: #2e7d32;
    color:white;
    margin-bottom: 0px;
    margin: 0;
}
a{
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2e7d32;
    padding: 1rem 2rem;
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    background-color: #a5d6a7;
    color: black;
    padding: 8px;
}
.landing {
    padding: 10rem 5rem;
    margin-bottom: 6rem;
    text-align: center;
}
.landing h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2e7d32;
}
.landing p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}
.tombol{
    margin-top: 18px;
}
.landing a{
    text-decoration: none;
    border: 1px solid #2e7d32;
    color: #2e7d32;
    padding: 10px;
    border-radius: 8px;
}
.landing a:hover{
    text-decoration: none;
    color: white;
    background-color: #388e3c;
}
main h1{
    margin-left:  9rem;
}
hr{
    width: 80%;
}
main{
    margin-top: -20px;
    background-color: #FAF6F5;
}
.container{
    padding-top: 12px;
}
.container h2{
    margin-left: 165px;
    color: #388e3c;
}
.card{
    display: flex;
    justify-content: center;
}
.card-content{
    justify-content: space-between;
    margin: 30px;
    width: 250px;
}
.card-content img{
    width: 250px;
    height: 230px;
    
}
.judul{
    color: #2e7d32;
    font-weight: bold;
    text-align: center;
}
.deskripsi{
    text-align: center;
    color: black;
}
.card a:hover{
    border: 1px solid #cacaca;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #F9F5F4;
}
footer{
    text-align: center;
}